<script src='/javascript/exportToCsv.js' type="text/javascript"></script>
<script>
    let csvContent = "data:text/csv;charset=utf-8,";
    csvContent += "Name,Start Date,Location,Work Items,CC,PA,SH,Partners,Cost,Volunteers,Labor Hours\n"
        {{#each payload}}
            {{#each this}}
                    csvContent += "{{escape application.name.first}} {{escape application.name.last}},"
                    {{#if project.project_start}}
                        csvContent += "{{dateToLocaleDate project.project_start}},"
                    {{else}}
                        csvContent += ","
                    {{/if}}
                    csvContent += "{{escape application.address.city}},"
                    workItemString = '\"'
                    {{#each workItemDoc}} workItemString += '{{plus_one @index}}) {{escape (add_d_quote name)}}{{#unless @last}}\n{{/unless}}'; {{/each}}
                    workItemString += '\",'
                    csvContent += workItemString
                    csvContent += "{{escape project.crew_chief}},"
                    csvContent += "{{escape project.project_advocate}},"
                    csvContent += "{{escape project.site_host}},"
                    partnerListString = '\"'
                    {{#each partnerPack}} partnerListString += '{{plus_one @index}}) {{escape (add_d_quote org_name)}}{{#unless @last}}\n{{/unless}}'; {{/each}}
                    partnerListString += '\",'
                    csvContent += partnerListString
                    csvContent += "{{escape project.actual_cost}},"
                    csvContent += "{{escape project.actual_volunteer_count}},"
                     csvContent += "{{escape project.actual_labor_count}},"
                    csvContent += "\n"
            {{/each}}
        {{/each}}
    //csvContent = {{csvContent}}
    csvContent = csvContent.replace('/\'/g', '\\\'')
</script>
<h5 style="padding-left: 21px;">Generated CSV:
    <button id="pafB" class="btn btn-success" style="margin-left: 5%" onclick="exportToCSV('ProjEnd')">Export to CSV</button>
</h5>
<span style="padding-left: 21px; font-size: .8em; font-style: italic;">Note: the data in this CSV file reflects the data at the time of export. </span>