<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src='/javascript/report.js' type="text/javascript"></script>
<script src="/javascript/orderTable.js" type="text/javascript"></script>
<style>
    .cell-overflow {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .upComing {
        margin-bottom: 1rem;
    }

    #appReportHidden {
        margin-top: 1em;
    }

    .blue {
         background-color: lightcyan;
    }

    .orange {
        background-color: moccasin;
    }
</style>
<!--Use Header Partial Here-->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#upcoming" role="tab">Upcoming Projects</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#projectEnd" role="tab">Project Report</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#applicationEnd" role="tab">Application Report</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#work" role="tab">Search</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="projectEnd" role="tabpanel">
        <div id="iframeHolder2"></div>
        <div style="float:left;">
            </br>
            <h5>Project Start Date</h5>
            <label>From</label>
            <input type="date" placeholder="MM/DD/YYYY" id="projStartFromSum">
            <label>To</label>
            <input type="date" placeholder="MM/DD/YYYY" id="projStartToSum">
            </br>
            <span>Generate with a project start date range </span>
            <button id="EndSubmitP">Submit</button>
            <div style="display:none" id="projReportHidden">
            <div class="card">
                 <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                                Partner Breakdown
                        </h5>
                </div>
                <div class="card-block">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Partner</th>
                                <th scope="col">Number of Projects</th>
                            </tr>
                        </thead>
                        <tbody id="projectCountTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between" role="tab" id="headingOne">
                        <h5 class="mb-0">
                                Project Breakdown
                        </h5>
                        <span id="numHandle"></span>
                        <span id="numProj"></span>
                        <button class="btn btn-info" id="exportProjectEnd">Export</button>
                </div>
                <div class="card-block">
                    <table class="table table-sm table-bordered orderTable1">
                        <thead>
                            <tr>
                                <th onclick="orderTable('orderTable1', 0)">Project</th>
                                <th onclick="orderTable('orderTable1', 1)">Start Date</th>
                                <th onclick="orderTable('orderTable1', 2)">Location</th>
                                <th onclick="orderTable('orderTable1', 3)">Work Items</th>
                                <th onclick="orderTable('orderTable1', 4)">CC</th>
                                <th onclick="orderTable('orderTable1', 5)">PA</th>
                                <th onclick="orderTable('orderTable1', 6)">SH</th>
                                <th onclick="orderTable('orderTable1', 7)">Partners</th>
                                <th onclick="orderTable('orderTable1', 8)">Fin. Cost</th>
                                <th onclick="orderTable('orderTable1', 9)">Fin. Volunteers</th>
                                <th onclick="orderTable('orderTable1', 10)">Fin. Labor Hr</th>
                            </tr>
                        </thead>
                        <tbody id="assocPartnerTableP">
                        </tbody>
                    </table>
                </div>
            </div>
            <p></p>Total Volunteers: <span id="total_volunteers"></span></p>
            <p>Total Cost: <span id="total_cost"></span></p>
            <p>Total Labor Hrs: <span id="total_labor_count"></span></p>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="work" role="tabpanel">
        </br>
        <div class="row">
        <div class="col-xs-12">
        <h5>Applicant Info</h5>
        <label>First Name:</label>
        <input type="text" id= "FirstName"></input>
        <label>Last Name:</label>
        <input type="text" id= "LastName"></input>
        <label>City:</label>
        <input type="text" id= "City"></input>
        <label>Zip Code:</label>
        <input type="text" id= "ZipCode"></input>
        <!--<label>Partner:</label>
        <input type="text" id= "Partner"></input>-->
        <h5>Project Leaders</h5>
        <label>Site Host</label>
        <input type="text" id= "site_host"></input>
        <label>Project Advocate</label>
        <input type="text" id= "project_advocate"></input>
        <label>Crew Chief</label>
        <input type="text" id= "crew_chief"></input>
        <label for="and">AND</label>
        <input type="radio" class="and_or" name="and_or" value="and" checked> 
        <label for="or">OR</label>
        <input type="radio" class="and_or" name="and_or" value="or">
        <h5>Project Information</h5>
        <label>Number Volunteers: </label>
        <input type="text" id= "numVol"></input>
        <input type="radio" id="vol1" name="numberVol" class="numberVol" value="less">
        <label for="vol1">less than</label>
        <input type="radio" id="vol2" name ="numberVol" class="numberVol" value="greater">
        <label for="vol2">greater than</label></br>
        <label>Total Cost: </label>
        <input type="text" id= "totCost"></input>
        <input type="radio" id="cost1" name="totCost" class="totCost" value="less">
        <label for="cost1">less than</label>
        <input type="radio" id="cost2" name ="totCost" class="totCost" value="greater">
        <label for="cost2">greater than</label>
        <h5>Application Date</h5>
        <label>From</label>
        <input type="date" placeholder="MM/DD/YYYY" id="appFrom">
        <label>To</label>
        <input type="date" placeholder="MM/DD/YYYY" id="appTo">
        <h5>Project Date</h5>
        <p>Begin:</p>
        <label>From</label>
        <input type="date" placeholder="MM/DD/YYYY" id="projStartFrom">
        <label>To</label>
        <input type="date" placeholder="MM/DD/YYYY" id="projStartTo">
        </br><p>End:</p>
        <label>From</label>
        <input type="date" placeholder="MM/DD/YYYY" id="projEndFrom">
        <label>To</label>
        <input type="date" placeholder="MM/DD/YYYY" id="projEndTo">
        </br>
        <span>Search by any combination of the above fields</sanp>
        {{!--<button id="exportButton">Search</button>--}}
        <button type="submit" id="exportButton">Search</button>
        <table class="table orderTable3" id="searchHidden" style="display:none">
            <thead>
                <tr>
                    <th onclick="orderTable('orderTable3', 0)" id="head1">Name</th>
                    <th onclick="orderTable('orderTable3', 1)" id="head2">Address</th>
                    <th onclick="orderTable('orderTable3', 2)" id="head3">Appl. Status</th>
                    <th onclick="orderTable('orderTable3', 3)"id="head4">Appl. ID</th>
                    <th>Project Link</th>
                </tr>
            </thead>
            <tbody id="tableContent">
                <tr id="defaultRow">
                    <td>
                        Search to return specific results
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>

    <div class="tab-pane active" id="upcoming" role="tabpanel">
        <div id="iframeHolder3"></div>
        <div class="row">
        <div class="col-xs-12">
        <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between" role="tab" id="headingOne">
                    <h5 class="mb-0">
                            Upcoming Projects
                    </h5>
                     <button class="btn btn-info" id="exportUpcomingBtn">Export</button>
        </div>
            <div class="card-block">
            <table class="table table-sm table-bordered orderTable4">
                <thead>
                    <tr>
                        <th onclick="orderTable('orderTable4', 0)">Name</th>
                        <th onclick="orderTable('orderTable4', 1)">Start Date</th>
                        <th onclick="orderTable('orderTable4', 2)">Location</th>
                        <th onclick="orderTable('orderTable4', 3)">Work Items</th>
                        <th onclick="orderTable('orderTable4', 4)">Home Type</th>
                        <th onclick="orderTable('orderTable4', 5)">CC</th>
                        <th onclick="orderTable('orderTable4', 6)">PA</th>
                        <th onclick="orderTable('orderTable4', 7)">SH</th>
                        <th onclick="orderTable('orderTable4', 8)">Partners</th>
                        <th onclick="orderTable('orderTable4', 9)">Volunteers</th>
                        <th onclick="orderTable('orderTable4', 10)">Cost</th>
                    </tr>
                </thead>
            {{#each payload}}
                {{#each this}}
                <tr>
                    
                    <td>
                    {{#if project}}
                            <a href="/projectview/{{_id}}" target="_blank" rel="noopener noreferrer">{{application.name.first}} {{application.name.last}}</a>
                        {{else}}
                            <a href="/view/{{_id}}" target="_blank" rel="noopener noreferrer">{{application.name.first}} {{application.name.last}}</a>
                        {{/if}}
                    </td>
                    <td>
                        {{#if project.project_start}}
                            <p>{{dateToLocaleDate project.project_start}}</p>
                        {{else}}
                            <p>None specified</p>
                        {{/if}}
                    </td>
                    <td>{{application.address.city}}</td>
                     <td>
                        {{#if workItemDoc includeZero=true}}
                            <p>{{#each workItemDoc}}<p>{{plus_one @index}}) {{name}}{{#unless @last}} {{/unless}}</p>{{/each}}</p>
                        {{else}}
                            <p>No current work items</p>
                        {{/if}}
                    </td>
                    <td>{{fillFields property.home_type}}</td>
                    <td>{{fillFields project.crew_chief}}</td>
                    <td>{{fillFields project.project_advocate}}</td>
                    <td>{{fillFields project.site_host}}</td>
                    <td>
                        {{#each partners}}
                            {{this.org_name}}
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>
                    {{#if assessmentDoc includeZero=true}}
                    <td>{{fillFields assessmentDoc.0.estimates.volunteers_needed}}</td>
                    <td>{{fillFields assessmentDoc.0.estimates.total_cost}}</td>
                    {{else}}
                    <td>N/A</td>
                    <td>N/A</td>
                    {{/if}}
                </tr>
                {{/each}}
            {{/each}}
            </table>
            </div> 
        </div>
        </div>
        </div>    
    </div>

    <div class="tab-pane" id="applicationEnd" role="tabpanel">
        <div id="iframeHolder1"></div>
        <div  style="float:left;">
            </br>
            <h5>Application Submit Date</h5>
            <label>From</label>
            <input type="date" placeholder="MM/DD/YYYY" id="appFromSum">
            <label>To</label>
            <input type="date" placeholder="MM/DD/YYYY" id="appToSum">
            </br>
            <span>Generate with an application date range </span>
            <button id="EndSubmitA">Submit</button>
            <div style="display:none" id="appReportHidden">
            <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between" role="tab" id="headingOne">
                    <h5 class="mb-0">
                            Application Breakdown
                    </h5>
                    <span id="numApps"></span>
                    <button class="btn btn-info" id="exportAppEnd">Export</button>
            </div>
            <div class="card-block">
                <table class="table table-sm table-bordered orderTable2" >
                    <thead>
                        <tr>
                            <th onclick="orderTable('orderTable2', 0)">Project</th>
                            <th onclick="orderTable('orderTable2', 1)">Application Date</th>
                            <th onclick="orderTable('orderTable2', 2)">Location</th>
                            <th onclick="orderTable('orderTable2', 3)">Work Items</th>
                            <th onclick="orderTable('orderTable2', 4)">CC</th>
                            <th onclick="orderTable('orderTable2', 5)">PA</th>
                            <th onclick="orderTable('orderTable2', 6)">SH</th>
                            <th onclick="orderTable('orderTable2', 7)">Est. Cost</th>
                            <th onclick="orderTable('orderTable2', 8)">Est. Volunteers</th>
                        </tr>
                    </thead>
                    <tbody id="assocPartnerTableA">
                    </tbody>
                </table>
            </div>
            </div>
            <p>Total Volunteers: <span id="est_volunteers"></span></p>
            <p>Total Cost: <span id="est_cost"></span></p>
            </div>
        </div>
    </div>
</div>

