<div class="row">
  <div class="col-sm-6 col-xs-12" id="applicant-div">
    <h1>Applicant</h1>
    <h2>Contact</h2>
    <div>Name: {{{service.applicant.application.first_name}}} {{{service.applicant.application.middle_name}}} {{{service.applicant.application.last_name}}}</div>
    <div>Phone: {{{service.applicant.application.phone}}}</div>
    <div>Email: {{{service.applicant.application.email}}}</div>
    <div>Date of Birth: {{{service.applicant.application.dob}}}</div>
    <div>Marital Status: {{{service.applicant.application.marital_status}}}</div>

    <h2>Address</h2>
    <div>{{{service.applicant.application.address.line_1}}}</div>
    {{# if service.applicant.application.address.line_2}}
    <div>{{{service.applicant.application.address.line_2}}}</div>
    {{/if}}
    <div>{{{service.applicant.application.address.city}}}, {{{service.applicant.application.address.state}}} {{{service.applicant.application.address.zip}}}</div>

    <div><a href={{{google_map_url}}} target="_blank">Google Maps Link</a></div>

    <h2>Info</h2>
    <h3>Other Contacts</h3>
    <div>Name: {{{service.applicant.application.contact_name}}}</div>
    <div>Relationship: {{{service.applicant.application.contact_relationship}}}</div>
    <div>Phone: {{{service.applicant.application.health_issues}}}</div>
    <div>Email: {{{service.applicant.application.health_issues}}}</div>

    <h3>Health Issues</h3>
    <div>{{{service.applicant.application.health_issues}}}</div>

    <h3>Help Request</h3>
    <div>{{{service.applicant.application.help_request}}}</div>
  </div>

  <div class="col-sm-6 col-xs-12" id="service-div">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">Current Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Past Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Future Services</a>
      </li>
    </ul>
    <div id="current-service-container">
      <div>Service Date: {{{service.service_date}}}</div>
      <h3></h3>
      <div>Description: {{{service.description}}}</div>
      <div>Volunteer: {{{service.volunteer}}}</div>
    </div>
  </div>
</div>